/* Removing default spacings*/
*{
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --body-bg: black;
  --button-default: #253765;
  --button-hover: #28a9e1;
}

/* Body styling */
body{
  margin-top: 55px;
  background: var(--body-bg);
}

/* Menu */
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--button-default);
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.4s;
}

/* Set direction of navbar list */
li{
  float: left;
}

/* Styling of all buttons in navbar */
#navbar a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 24px;
  font-family: 'Comic Sans MS', cursive;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
}

/* Styling of logo */
#logo a{
  padding: 16px 16px;
}

#logo img{
  height: 15px;
}

/* Styling of dropdown buttons */
li.dropdown{
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* Styling of the content of the dropdown */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: var(--button-default);
  border-radius: 0 0 15px 15px ;
  text-align: center;
}

/* Make dropdown content visible */
.dropdown:hover .dropdown-content{
  display: block;
}

/* Underline dropdown content on hover */
#navbar .dropdown-content a:hover{
  text-decoration: underline;
}

/* Add different color to active and hovered page */
.active, #navbar li:hover{
  background-color: var(--button-hover);
}



/* Body */
#about{
  background: '/images/banner.png';
}

p{
  color: white;
}

/* Footer */
footer{
  margin-top: 20px;
  padding: 25px;
  text-align: center;
  background-color: var(--button-default);
}