/* Removing default spacings*/
*{
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --body-bg: black;
  --button-default: #253765;
  --button-hover: #28a9e1;
}


html{
  color-scheme: light dark;
}

body{
  padding-top: 50px;
  background: var(--body-bg);
}


/* Menu */
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--button-default);
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.4s;
}

li{
  float: left;
}

#navbar a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 24px;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

#logo a{
  padding: 16px 16px;
}

#logo img{
  height: 15px;
}

li.dropdown{
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.dropdown-content{
  width: auto;
  display: none;
  position: absolute;
  background-color: var(--button-default);
  z-index: 1;
  border-radius: 0 0 15px 15px ;
  text-align: center;
}


.dropdown-content a{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content{
  display: block;
}

#navbar .dropdown-content a:hover{
  text-decoration: underline;
}

.active, #navbar li:hover{
  background-color: var(--button-hover);
}



/* Body */

#about{
  background: '/images/banner.png';
}

/* Footer */

footer{
  margin-top: 20px;
  padding: 25px;
  text-align: center;
  background-color: var(--button-default);
}