/* ------------ Setup ------------ */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Bremen;
  src: url(/assets/fonts/Bremen\ Bold.otf);
}

@font-face {
  font-family: Tondu;
  src: url(/assets/fonts/Tondu_Beta.ttf);
}

/* Variables */
:root {
  --body-txt: black;
  --body-bg: white;
  --body-font: Arial, Helvetica, sans-serif;
  --button-default: #253765;
  --button-hover: #28a9e1;
  --font-primary: Arial, Helvetica, sans-serif;
}

.darkmode {
  --body-txt: white;
  --body-bg: black;
}

body {
  background: var(--body-bg);
  color: var(--body-txt);
  font-family: var(--body-font);
}

/* ------------ Navbar ------------ */
#navbar {
  font-family: var(--font-primary);
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--button-default);
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.4s;
  font-size: 16px;
  z-index: 100;
}

#navbar li {
  float: left;
  cursor: pointer;
}

#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 24px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 23px;
}

li.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--button-default);
  border-radius: 0 0 15px 15px;
  text-align: center;
  width: inherit;
  z-index: 100;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
}

#navbar .dropdown-content a.active {
  text-decoration: underline;
}

#navbar .dropdown-content a:hover {
  text-decoration: wavy underline;
}

li:has(.active),
#navbar li:hover {
  background-color: var(--button-hover);
}

#navbar img {
  height: 40px;
}

/* ------------ Main ------------ */
.banner {
  width: 100%;
  height: 305px;
  object-fit: cover;
  filter: brightness(.8);
}

main {
  min-height: calc(100svh - 300px);
  line-height: 2rem;
  padding: 1rem 2rem;
  margin: auto;
  max-width: 1000px;
}

main a {
  color: var(--body-txt);
}

main p {
  margin-bottom: 1rem;
}

main h1 {
  font-family: Tondu;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  text-align: center;
  font-size: 40px;
}

main h2 {
  margin: 1rem 0;
}

/* Åldersgrupper */

.group {
  transform: translateY(-95px);
  margin-bottom: -95px;
}

.group-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-info {
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  background: var(--button-default);
}

.group-info * {
  color: white;
}

.group-info p {
  margin-left: 20px;
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

blockquote:before,
blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  font-size: 4em;
  top: .2em;
  position: relative;
}

.logo-container {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background: white;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aldersgrupp-logo {
  height: 130px;
}

.grupp {
  text-transform: uppercase;
  padding: 0;
  color: white;
  letter-spacing: 1px;
}

.alder {
  color: var(--button-hover);
  margin: 0;
}

/* Sponsorer */

.sponsors {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 25px;
}

.sponsor img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

/* Lokaler */

.locale {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}

.locale:nth-child(2n) {
  flex-direction: row;
}

.locale img {
  padding: 10px;
  border-radius: 30px;
  max-width: 40svw;
  height: 100%;
}

.locale h2 {
  margin: 0;
}

.locale-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40svw;
}

.locale p {
  margin: 0;
}

/* ------------ Footer ------------ */
footer {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  font-family: var(--font-primary);
  color: white;
  text-decoration: none;
  padding: 25px;
  text-align: center;
  background-color: var(--button-default);
  grid-template-areas: "logo-left footer-text logo-right";
  margin-top: 4rem;
}

footer img {
  height: 150px;
  width: auto;
}

footer h1 {
  font-family: Bremen;
}

footer a {
  color: white;
}

.socials {
  margin-top: 8px;
  font-size: 40px;
}

.socials i {
  margin: 8px 10px;
}

.logo-left {
  grid-area: logo-left;
}

.footer-text {
  grid-area: footer-text;
}

.logo-right {
  grid-area: logo-right;
  height: 120px;
}

/* ------------ Media Queries ------------ */

/* @media (hover: none) {
  #navbar .dropdown {
    display: none;
  }
} */

@media screen and (max-width: 770px) {
  .group-title {
    flex-direction: column;
  }

  .grupp {
    color: unset;
  }

  .logo-container {
    margin: 0;
    margin-bottom: 20px;
  }

  div:has(.grupp) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "logo-right footer-text"
      "logo-left footer-text";
  }
}

@media screen and (max-width: 480px) {
  footer {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-areas:
      "logo-left logo-right"
      "footer-text footer-text";
  }

  footer img {
    height: 100px;
    width: auto;
  }

  .footer-text {
    margin-top: 20px;
  }

  .logo-right {
    height: 80px;
  }
}


/* ------------ Scroll to top button ------------ */
#scrolltotop {
  display: none;
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--button-hover);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: larger;
}

#scrolltotop:active,
#scrolltotop:focus {
  background: var(--body-bg);
  color: var(--body-txt);
}