/* ------------ Setup ------------ */
/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Import fonts */
@font-face {
  font-family: Bremen;
  src: url(/assets/fonts/Bremen\ Bold.otf);
}

@font-face {
  font-family: Tondu;
  src: url(/assets/fonts/Tondu_Beta.ttf);
}

/* Experimental */
/* https://caniuse.com/mdn-css_at-rules_view-transition */
@view-transition {
  navigation: auto;
}

/* Variables */
:root {
  --body-txt: hsl(0, 0%, 0%);
  --body-bg: hsl(0, 0%, 100%);
  --body-alt: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 10%));
  --body-font: Arial, Helvetica, sans-serif;
  --button-default: hsl(223, 46%, 27%);
  --button-hover: hsl(198, 76%, 52%);
  --nav-clr: var(--button-default);
  --nav-hover: var(--button-hover);

  /* color-scheme: light dark; */
  font-family: var(--body-font);
  background: var(--button-default);
}

body {
  transition: all .5s linear;
  background: light-dark(var(--body-bg), var(--body-txt));
  color: light-dark(var(--body-txt), var(--body-bg));
}

/* ------------ Navbar ------------ */
nav {
  background: var(--nav-clr);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  font-family: Arial, sans-serif;
  transition: top 0.4s;
}

nav li {
  list-style: none;
}

.nav-left {
  display: flex;
}

nav a:has(img) {
  padding: 7.5px;
  display: block;
  text-decoration: none;
  -webkit-user-drag: none;
  z-index: 999;
}

nav a>img {
  width: 40px;
  height: 40px;
  display: block;
  max-width: unset;
}

.nav-links {
  display: flex;
  align-items: center;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown input[type="checkbox"] {
  display: none;
}

nav label,
nav a {
  color: white;
  cursor: pointer;
  padding: 16px 24px;
  line-height: 23px;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
}

/* Arrow indicator for dropdowns */
.dd-btn {
  white-space: nowrap;
  position: relative;
  padding-right: 35px;
}

.dd-btn::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  top: 50%;
  width: 8px;
  height: 8px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: translateY(-70%) rotate(45deg);
  transition: transform 0.3s ease;
}

li:has(li .active) {
  background: var(--nav-hover);
}

.dropdown-content a:hover {
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

.dropdown-content a.active {
  text-decoration: underline;
}

.dropdown-content {
  display: grid;
  position: absolute;
  background: var(--nav-clr);
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.dropdown-content>div {
  overflow: hidden;
}

.dropdown-content a {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

#theme-toggle button {
  line-height: 0;
  padding: 19.5px;
  background: unset;
  color: white;
  border: none;
}

/* Desktop nav */
@media (hover: hover) and (min-width: 770px) {

  .dropdown:hover .dropdown-content,
  .dropdown .dropdown-content:focus-within {
    display: grid;
    grid-template-rows: 1fr;
  }

  .nav-links>li:last-child {
    display: none;
  }

  .dropdown-content {
    border-radius: 0 0 15px 15px;
  }

  .dropdown:hover .dd-btn::after,
  .dropdown:focus-within .dd-btn::after {
    transform: translateY(-30%) rotate(225deg);
  }

  .logo.active,
  .nav-links>li:hover,
  .nav-right>li:hover,
  .logo:hover {
    background: var(--nav-hover);
  }
}

/* Mobile nav */
.nav-right {
  display: flex;
  align-items: center;
  z-index: 998;
  justify-content: right;
  width: 100%;
  background: var(--nav-clr);
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 13px 15px;
  user-select: none;
  background: var(--nav-clr);
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: 0.3s;
  user-select: none;
}

#mobile-menu-toggle {
  display: none;
}

#theme-toggle a {
  line-height: 0;
  padding: 19.5px;
}

@media (hover: none),
(max-width: 770px) {
  .hamburger {
    display: block;
    z-index: 999;
  }

  .nav-links {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    height: calc(100vh - 55px);
    background: var(--nav-clr);
    flex-direction: column;
    transition: 0.3s;
    align-items: center;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .nav-links li {
    width: 100%;
  }

  .dropdown-content {
    position: static;
  }

  #mobile-menu-toggle:checked~.nav-links {
    top: 55px;
  }

  #mobile-menu-toggle:checked~.hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #mobile-menu-toggle:checked~.hamburger span:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu-toggle:checked~.hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  .nav-right li:first-child {
    display: none;
  }

  .dropdown input[type="checkbox"]:checked~.dropdown-content {
    grid-template-rows: 1fr;
  }

  .dropdown input[type="checkbox"]:checked~label {
    background: var(--nav-hover);
  }

  .dropdown input[type="checkbox"]:checked~.dd-btn::after {
    transform: translateY(-30%) rotate(225deg);
  }
}


/* ------------ Main ------------ */
.banner {
  width: 100%;
  height: 305px;
  object-fit: cover;
  filter: brightness(.8);
}

main {
  min-height: calc(100svh - 375px);
  line-height: 2rem;
  padding: 1rem;
  margin: auto;
  max-width: 900px;
}

main * {
  padding: revert;
}

main a:link {
  color: var(--button-hover);
}

main a:hover {
  text-decoration: none;
}

main>p {
  margin-bottom: 1rem;
}

main>h1 {
  font-family: Tondu;
  margin: 1rem 0 2rem;
  letter-spacing: 1px;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

main>h2 {
  margin: 2rem 0 .5rem;
}

.updated {
  background: var(--body-alt);
  padding: 5px 8px;
  border-radius: 16px;
  font-size: small;
  font-weight: bold;
  color: light-dark(hsl(0, 0%, 25%), hsl(0, 0%, 85%));
}

/* Åldersgrupper */
.group-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100px);
  margin-bottom: calc(2rem - 100px);
}

.blue-bg {
  border-radius: 20px;
  padding: 20px;
  background: var(--button-default);
}

.blue-bg * {
  color: white;
}

.blue-bg p {
  margin-left: 20px;
}

blockquote:before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

blockquote::before,
blockquote::after {
  display: inline-block;
  vertical-align: bottom;
  font-size: 4em;
  top: .2em;
  position: relative;
}

.logo-container {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background: white;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aldersgrupp-logo {
  height: 130px;
}

h1.grupp {
  font-family: Tondu;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

h2.alder {
  color: var(--button-hover);
}

/* Sponsorer & lokaler*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 0 auto;
}

.single-column {
  grid-template-columns: 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--body-alt);
  border-radius: 30px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-info {
  padding: .5rem 1rem 1rem;
}

.card-info h2 {
  font-size: 1.5rem;
}

.card-info p {
  line-height: 1.5;
  opacity: 0.8;
}

img.square {
  aspect-ratio: 1;
}

/* ------------ Footer ------------ */
footer {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  font-family: var(--body-font);
  color: white;
  text-decoration: none;
  padding: 25px;
  text-align: center;
  background-color: var(--button-default);
  grid-template-areas: "logo-left footer-text logo-right";
  margin-top: 4rem;
}

footer img {
  height: 150px;
  width: auto;
}

footer h1 {
  font-family: Bremen;
}

footer a {
  color: white;
}

.socials {
  margin-top: 8px;
  font-size: 40px;
}

.socials i {
  margin: 8px 10px;
}

.logo-left {
  grid-area: logo-left;
}

.footer-text {
  grid-area: footer-text;
}

.logo-right {
  grid-area: logo-right;
  height: 120px;
}

/* ------------ Media Queries ------------ */
@media screen and (max-width: 770px) {
  .group-title {
    flex-direction: column;
  }

  h1.grupp {
    color: unset;
  }

  .logo-container {
    margin: 0;
    margin-bottom: 2rem;
  }

  div:has(.grupp) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "logo-right footer-text"
      "logo-left footer-text";
  }
}

@media print,
(max-width: 480px) {
  footer {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-areas:
      "logo-left logo-right"
      "footer-text footer-text";
  }

  footer img {
    height: 100px;
    width: auto;
  }

  .footer-text {
    margin-top: 20px;
  }

  .logo-right {
    height: 80px;
  }
}

@media print {

  header,
  footer,
  .banner,
  #scrolltotop {
    display: none !important;
  }

  a {
    color: black !important;
  }

  a::after {
    display: inline-block;
    content: "\00A0[" attr(href) "]";
    color: gray;
    font-style: italic;
  }
}


/* ------------ Scroll to top button ------------ */
#scrolltotop {
  display: none;
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--button-hover);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: larger;
}

#scrolltotop:active,
#scrolltotop:focus {
  background: var(--body-bg);
  color: var(--button-hover);
}