/* Removing default spacings*/
*{
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --body-bg: black;
  --button-default: #253765;
  --button-hover: #28a9e1;
  --font-primary: 'Comic Sans MS', cursive;
}

/* Body styling */
body{
  margin-top: 55px;
  background: var(--body-bg);
  color: white;
  font-family: var(--font-primary);
}

/* Navbar */
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--button-default);
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.4s;
}

/* Set direction of navbar list */
li{
  float: left;
}

/* Styling of all buttons in navbar */
#navbar a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 24px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
}

/* Styling of dropdown buttons */
li.dropdown{
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* Styling of the content of the dropdown */
.dropdown-content{
  z-index: 100;
  display: none;
  position: absolute;
  background-color: var(--button-default);
  border-radius: 0 0 15px 15px ;
  text-align: center;
}

/* Make dropdown content visible */
.dropdown:hover .dropdown-content{
  display: block;
}

/* Underline dropdown content on hover */
#navbar .dropdown-content a:hover{
  text-decoration: underline;
}

/* Add different color to active and hovered page */
.active, #navbar li:hover{
  background-color: var(--button-hover);
}

/* Styling of logo */
#logo a{
  padding: 5px 7.5px;
}

#logo img{
  height: 40px;
}

/* Mobile menu */
@media (hover:none) {
  #navbar{
    display: none;
  }
}

/* Body */

h1{
  padding-top: 1rem;
  margin-left: 1rem;
}

/* Footer */
footer{
  text-decoration: none;
  margin-top: 20px;
  padding: 25px;
  text-align: center;
  background-color: var(--button-default);
}

/* Footer links */
footer a{
  color: white;
}

/* Scroll to top button */
#scrolltotop{
  display: none;
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--button-default);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: larger;
}

#scrolltotop:active{
  background: var(--button-hover);
}