<footer>
    <a class="logo-left" href="https://www.scout.fi/for-karen/karadministration/hallbarhet-i-karen/hallbar-scoutkar"
        target="_blank" rel="noopener noreferrer" title="Info om hållbar scoutkår-certifikatet">
        <img height="150" width="150" src="/assets/icons/hallbar_scoutkar_gron.png" alt="Hållbar Scoutkår">
    </a>
    <div class="footer-text">
        <h1>Ingå Scouter r.f.</h1>
        <p>
            <br>
            Rapportera fel: <a href="https://github.com/ingascouter/ingascouter.github.io/issues">github.com</a>
        </p>
        <a title="Skriv mejl till oss" href="mailto:ingascouter@gmail.com" target="_blank"
            rel="noopener noreferrer">ingascouter@gmail.com</a>
        <div class="socials">
            <a title="Facebook" href="https://www.facebook.com/ingascouter/"><i class="fab fa-facebook"></i></a>
            <a title="Instagram" href="https://www.instagram.com/ingascouter/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <img height="150" width="150" class="logo-right" src="/assets/icons/logo.png" alt="Ingå Scouters logo">
</footer>

<button onclick="topFunction()" id="scrolltotop" title="Gå till toppen">
    <i class="fa fa-arrow-up"></i>
</button>