{% seo %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/style.css">
<title>{{ page.title }} | Ingå Scouter</title>
<meta name="description" content="{{ page.description }}">
<meta property="og:image" content="https://ingascouter.github.io/assets/icons/logo.png">
<link type="image/x-icon" href="/assets/icons/logo.ico" rel="icon" media="(prefers-color-scheme: light)">
<link type="image/x-icon" href="/assets/icons/whitelogo.ico" rel="icon" media="(prefers-color-scheme: dark)">
<script src="/theme.js"></script>
<script defer src="/script.js"></script>