<!DOCTYPE html>
<html lang="sv" style="color-scheme: light dark;">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main>
        <img class="banner fade" draggable="false" src="{{ page.banner }}" alt="Banner">
        <article>
            <h1>
                {{ page.title }}
            </h1>
            <div class="description">
                <span>Beskrivning</span>
                <br>
                <p>{{ page.description }}</p>
            </div>
            <!-- Does not work as github pages does not support this plugin. I will try to work around this later.
            <details>
                <summary>Innehåll</summary>
                {{ content | toc_only }}
            </details> -->
            {{ content }}
            <time class="updated" datetime="{{ page.date | date: '%m-%d-%Y' }}">{{ page.date | date: "%-d %B %Y"}}
        </article>
        </time>
    </main>
    {% include footer.html %}
</body>

</html>