<!DOCTYPE html>
<html lang="sv" style="color-scheme: light dark;">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main>
        <img class="banner" draggable="false" src="{{ page.banner }}" alt="Banner">
        <article>
            {{ content }}
            <span class="updated">Uppdaterad <time datetime="{{ page.date | date: '%m-%d-%Y' }}">
                    {{ page.date | swedish_date }}
                </time></span>
        </article>
    </main>
    {% include footer.html %}
</body>

</html>